NEXTAUTH_SECRET='topscrect'
NEXTAUTH_URL=http://localhost:3000/
UPSTASH_REDIS_REST_URL="https://apn1-good-redbird-35736.upstash.io"
UPSTASH_REDIS_REST_TOKEN="AYuYASQgZWYzMDQ4MDktYWIyOC00MWQxLTkzZGYtN2I3OWY2YjU0YzhiMzRjZThmZTk4OWE1NGE4YWEzMTBhMTE1OGFlMTU5Njk="
GOOGLE_CLIENT_ID="203731210627-ffeac7vbdpuvns4tfho2ct2m36fjmuul.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="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"

PUSHER_APP_ID="1619069"
NEXT_PUBLIC_PUSHER_APP_KEY="11c59d4416ed522f74a3"
PUSHER_APP_SECRET="bfaa592e6f96d6a68a9c"

